body {
	font-family: Arial, sans-serif;
}
h1 {
	color: rgb(50);
}

h2 {
	color: rgb(50);
}

h3 {
	font-size: 15px;
	margin-bottom: 3;
}

p {
	color: rgb(75);
}

a {
	text-decoration: none;
	color: rgb(36, 88, 247);
}

a:hover {
	text-decoration: underline;
}

#container {
	max-width: 850px;
	margin: 0 auto;
}

.project {
	padding-left: 50px;
	margin-top: 5px;
	margin-bottom: 10px;
	background-color: rgb(230);
}