body {
	font-family: 'Roboto Condensed', sans-serif;
}
h1 {
	font-color: #282828;
}

h2 {
	font-color: #282828;
}

h3 {
	font-size: 15px;
	margin-bottom: 3;
}

p {
	font-color: #282828;
}

a {
	text-decoration: none;
	color: #3b7fed;
}

a:hover {
	text-decoration: underline;
}

#container {
	max-width: 850px;
	margin: 0 auto;
}

.project {
	display: block;
	padding: 10px;
	margin-left: 50px;
	margin-top: 5px;
	margin-bottom: 20px;
	background-color: #eff0f2;
}
